# Python virtual environment
*_VirEnv/

# Python cache files
*__pycache__*

# filetransfer_utils editable development mode
filetransfer_utils.egg-info/

# Visual Studio Code files
*.code-workspace
*.vscode
